@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  background: #232830;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  max-height: 10.19rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.69rem;
  font-family: Poppins;
}
.header .title {
  font-size: 1.875rem;
}
.header span {
  margin-left: 2.25rem;
  color: white;
  font-size: 1.5rem;
}
.header .header__menu {
  margin-right: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
}

.name {
  margin: 12.44rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name .title {
  margin-top: 2.5rem;
  color: #ff7575;
  font-family: Recursive;
  font-size: 4.4375rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.name .sub_title {
  color: #fff;
  font-family: Poppins;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.06rem;
}

.line {
  opacity: 0.2;
  background: #4d4d4d;
  height: 3px;
  margin-top: 6.19rem;
}

.horizontal_menu {
  padding: 1rem 0 6.75rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.horizontal_menu .images {
  display: flex;
  flex-wrap: nowrap;
}
.horizontal_menu .images img {
  margin-left: 0.81rem;
}
.horizontal_menu .options {
  margin: 0 0 0 2.56rem;
  display: flex;
  flex-wrap: nowrap;
}
.horizontal_menu span {
  color: #909090;
  font-family: Recursive;
  font-size: 1.6875rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-left: 2.25rem;
}

.post_9, .post_8, .post_7, .post_6, .post_5, .post_4, .post_3, .post_2, .post_1 {
  width: 24.375rem;
  height: 27.4375rem;
  border-radius: 1.375rem;
  border: 1px solid #252930;
  background: #fff;
}
.post_9 img, .post_8 img, .post_7 img, .post_6 img, .post_5 img, .post_4 img, .post_3 img, .post_2 img, .post_1 img {
  margin: 1.63rem 1.65rem 2.06rem 1.65rem;
  width: 21.0675rem;
  height: 10rem;
  flex-shrink: 0;
}
.post_9 .date_creator, .post_8 .date_creator, .post_7 .date_creator, .post_6 .date_creator, .post_5 .date_creator, .post_4 .date_creator, .post_3 .date_creator, .post_2 .date_creator, .post_1 .date_creator {
  width: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.sheet {
  margin: 0rem auto;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  gap: 2.31rem;
  /*
    .date::after {
      vertical-align: middle;
      margin-left: 1.06rem;
      display: inline-block;
      content: "";
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: black;
    }
  */
}
.sheet .text {
  display: block;
  margin: 0 1.65rem 1.5rem 1.65rem;
  color: #0f1217;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sheet .title {
  display: block;
  margin: 0 1.65rem 0.81rem 1.65rem;
  color: #0f1217;
  font-family: Poppins;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sheet .date {
  display: block;
  color: #0f1217;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sheet .creator::before {
  margin-right: 1.06rem;
  display: inline-block;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: black;
}
.sheet .creator {
  display: block;
  color: #0f1217;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */