@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.wrapper {
  background: #232830;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  max-height: 10.19rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.69rem;
  font-family: Poppins;
  .title {
    font-size: 1.875rem;
  }
  span {
    margin-left: 2.25rem;
    color: white;
    font-size: 1.5rem;
  }
  .header__menu {
    margin-right: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
  }
}

.name {
  margin: 12.44rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: 2.5rem;
    color: #ff7575;
    font-family: Recursive;
    font-size: 4.4375rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  .sub_title {
    color: #fff;
    font-family: Poppins;
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.06rem;
  }
}

.line {
  opacity: 0.2;
  background: #4d4d4d;
  height: 3px;
  margin-top: 6.19rem;
}

.horizontal_menu {
  padding: 1rem 0 6.75rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  .images {
    img {
      margin-left: 0.81rem;
    }
    display: flex;
    flex-wrap: nowrap;
  }
  .options {
    margin: 0 0 0 2.56rem;
    display: flex;
    flex-wrap: nowrap;
  }
  span {
    color: #909090;
    font-family: Recursive;
    font-size: 1.6875rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 2.25rem;
    &:hover {
      color: #4d4d4d;
    }
  }
}

%post {
  width: 24.375rem;
  height: 27.4375rem;
  border-radius: 1.375rem;
  border: 1px solid #252930;
  background: #fff;
  box-shadow: 7px 7px 5px rgb(0, 0, 0);
  img {
    margin: 1.63rem 1.65rem 2.06rem 1.65rem;
    width: 21.0675rem;
    height: 10rem;
    flex-shrink: 0;
  }
  .date_creator {
    width: 16rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1.65rem;
  }
  .text {
    display: block;
    margin: 0 1.65rem 1.5rem 1.65rem;
    color: #0f1217;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .title {
    display: block;
    margin: 0 1.65rem 0.81rem 1.65rem;
    color: #0f1217;
    font-family: Poppins;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .date {
    display: block;
    color: #0f1217;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .creator {
    display: block;
    color: #0f1217;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.sheet {
  margin: 0rem auto;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 2.31rem;
}

@media screen and (max-width: 768px) {
  .sheet {
    grid-template: 1fr / 1fr;
  }
}

*[class^="post_"] {
  @extend %post;
}

.selection {
  padding: 8.25rem 0 9.81rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  .numbers {
    color: #909090;
    font-family: Recursive;
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    .second {
      color: #ff7575 !important;
      font-family: Recursive;
      font-size: 1.5625rem;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
    }
    span {
      margin-left: 2.69rem;
      &:hover {
        color: #4d4d4d;
      }
    }
  }
  .Previous {
    color: #909090;
    font-family: Recursive;
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  .next {
    margin-left: 2.69rem;
    color: #909090;
    font-family: Recursive;
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
}

.footer {
  padding: 0 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.87rem;
  margin-bottom: 7.94rem;
  .bottom_title {
    color: #fff;
    font-family: Recursive;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .creator {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Recursive;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.3125rem;
    background: #4699e0;
    span {
      padding: 0.25rem 0.81rem 0.36rem 0.81rem;
    }
  }
  .twitter {
    align-items: center;
    display: flex;
    border-radius: 0.3125rem;
    background: #4699e0;
    color: #fff;
    font-family: Recursive;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
      padding: 0.25rem 0.5rem 0.38rem 0.62rem;
    }
    img {
      padding: 0.56rem 0 0.56rem 0.69rem;
    }
  }
}

.bottom_left {
  display: flex;
}
